@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
:root {
  font-family: "Nunito";
  --bg: #253648;
  --bg-panel:#2E435A;
  --primary:#43DDE6;
  --secondary:#FC5185;
  --text:#FFFFFF;
  --danger:#FF2727;
  --warming:#F9FF21;
  --info:#21E6C1;
}

:root body {
  background-color: var(--bg);
  color: var(--text);
}

:root body p {
  margin: 0.16rem 0;
}

:root body a:link, :root body a:active, :root body a:visited {
  color: var(--info);
}

html[theme="dark"] {
  --bg: #253648;
  --bg-panel:#2E435A;
  --primary:#43DDE6;
  --secondary:#FC5185;
  --text:#FFFFFF;
  --danger:#FF2727;
  --warming:#F9FF21;
  --info:#21E6C1;
}

html[theme="light"] {
  --bg: #FFFFFF;
  --bg-panel:#F1F1F1;
  --primary:#000000;
  --secondary:#9B1CFC;
  --text:#000000;
  --danger:#FF2727;
  --warming:#F9FF21;
  --info:#21E6C1;
}

h1 {
  color: var(--primary);
  margin: 0.16rem 0;
}

h2 {
  color: var(--primary);
  margin: 0.16rem 0;
}

h3 {
  color: var(--text);
  margin: 0.16rem 0;
}

h4 {
  color: var(--text);
  margin: 0.16rem 0;
}

h5 {
  color: var(--text);
  margin: 0.16rem 0;
}

h6 {
  color: var(--text);
  margin: 0.16rem 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 1px;
  width: 100%;
}

.col-xs-1 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 8.33333% !important;
          flex: 0 0 8.33333% !important;
}

.col-xs-2 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 16.66667% !important;
          flex: 0 0 16.66667% !important;
}

.col-xs-3 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 25% !important;
          flex: 0 0 25% !important;
}

.col-xs-4 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 33.33333% !important;
          flex: 0 0 33.33333% !important;
}

.col-xs-5 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 41.66667% !important;
          flex: 0 0 41.66667% !important;
}

.col-xs-6 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 50% !important;
          flex: 0 0 50% !important;
}

.col-xs-7 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 58.33333% !important;
          flex: 0 0 58.33333% !important;
}

.col-xs-8 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 66.66667% !important;
          flex: 0 0 66.66667% !important;
}

.col-xs-9 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 75% !important;
          flex: 0 0 75% !important;
}

.col-xs-10 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 83.33333% !important;
          flex: 0 0 83.33333% !important;
}

.col-xs-11 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 91.66667% !important;
          flex: 0 0 91.66667% !important;
}

.col-xs-12 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 100% !important;
          flex: 0 0 100% !important;
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 8.33333% !important;
            flex: 0 0 8.33333% !important;
  }
  .col-sm-2 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 16.66667% !important;
            flex: 0 0 16.66667% !important;
  }
  .col-sm-3 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 25% !important;
            flex: 0 0 25% !important;
  }
  .col-sm-4 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 33.33333% !important;
            flex: 0 0 33.33333% !important;
  }
  .col-sm-5 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 41.66667% !important;
            flex: 0 0 41.66667% !important;
  }
  .col-sm-6 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
  }
  .col-sm-7 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 58.33333% !important;
            flex: 0 0 58.33333% !important;
  }
  .col-sm-8 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 66.66667% !important;
            flex: 0 0 66.66667% !important;
  }
  .col-sm-9 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 75% !important;
            flex: 0 0 75% !important;
  }
  .col-sm-10 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 83.33333% !important;
            flex: 0 0 83.33333% !important;
  }
  .col-sm-11 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 91.66667% !important;
            flex: 0 0 91.66667% !important;
  }
  .col-sm-12 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
  }
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 8.33333% !important;
            flex: 0 0 8.33333% !important;
  }
  .col-md-2 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 16.66667% !important;
            flex: 0 0 16.66667% !important;
  }
  .col-md-3 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 25% !important;
            flex: 0 0 25% !important;
  }
  .col-md-4 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 33.33333% !important;
            flex: 0 0 33.33333% !important;
  }
  .col-md-5 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 41.66667% !important;
            flex: 0 0 41.66667% !important;
  }
  .col-md-6 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
  }
  .col-md-7 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 58.33333% !important;
            flex: 0 0 58.33333% !important;
  }
  .col-md-8 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 66.66667% !important;
            flex: 0 0 66.66667% !important;
  }
  .col-md-9 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 75% !important;
            flex: 0 0 75% !important;
  }
  .col-md-10 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 83.33333% !important;
            flex: 0 0 83.33333% !important;
  }
  .col-md-11 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 91.66667% !important;
            flex: 0 0 91.66667% !important;
  }
  .col-md-12 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 8.33333% !important;
            flex: 0 0 8.33333% !important;
  }
  .col-lg-2 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 16.66667% !important;
            flex: 0 0 16.66667% !important;
  }
  .col-lg-3 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 25% !important;
            flex: 0 0 25% !important;
  }
  .col-lg-4 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 33.33333% !important;
            flex: 0 0 33.33333% !important;
  }
  .col-lg-5 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 41.66667% !important;
            flex: 0 0 41.66667% !important;
  }
  .col-lg-6 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
  }
  .col-lg-7 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 58.33333% !important;
            flex: 0 0 58.33333% !important;
  }
  .col-lg-8 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 66.66667% !important;
            flex: 0 0 66.66667% !important;
  }
  .col-lg-9 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 75% !important;
            flex: 0 0 75% !important;
  }
  .col-lg-10 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 83.33333% !important;
            flex: 0 0 83.33333% !important;
  }
  .col-lg-11 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 91.66667% !important;
            flex: 0 0 91.66667% !important;
  }
  .col-lg-12 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 8.33333% !important;
            flex: 0 0 8.33333% !important;
  }
  .col-xl-2 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 16.66667% !important;
            flex: 0 0 16.66667% !important;
  }
  .col-xl-3 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 25% !important;
            flex: 0 0 25% !important;
  }
  .col-xl-4 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 33.33333% !important;
            flex: 0 0 33.33333% !important;
  }
  .col-xl-5 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 41.66667% !important;
            flex: 0 0 41.66667% !important;
  }
  .col-xl-6 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
  }
  .col-xl-7 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 58.33333% !important;
            flex: 0 0 58.33333% !important;
  }
  .col-xl-8 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 66.66667% !important;
            flex: 0 0 66.66667% !important;
  }
  .col-xl-9 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 75% !important;
            flex: 0 0 75% !important;
  }
  .col-xl-10 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 83.33333% !important;
            flex: 0 0 83.33333% !important;
  }
  .col-xl-11 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 91.66667% !important;
            flex: 0 0 91.66667% !important;
  }
  .col-xl-12 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
  }
}
/*# sourceMappingURL=styles.css.map */