@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
:root {
  font-family: "Nunito";
  --bg: #253648;
  --bg-panel:#2E435A;
  --primary:#43DDE6;
  --secondary:#FC5185;
  --text:#FFFFFF;
  --danger:#FF2727;
  --warming:#F9FF21;
  --info:#21E6C1;
}

:root body {
  background-color: var(--bg);
  color: var(--text);
}

:root body p {
  margin: 0.16rem 0;
}

:root body a:link, :root body a:active, :root body a:visited {
  color: var(--info);
}

html[theme="dark"] {
  --bg: #253648;
  --bg-panel:#2E435A;
  --primary:#43DDE6;
  --secondary:#FC5185;
  --text:#FFFFFF;
  --danger:#FF2727;
  --warming:#F9FF21;
  --info:#21E6C1;
}

html[theme="light"] {
  --bg: #FFFFFF;
  --bg-panel:#F1F1F1;
  --primary:#000000;
  --secondary:#9B1CFC;
  --text:#000000;
  --danger:#FF2727;
  --warming:#F9FF21;
  --info:#21E6C1;
}

h1 {
  color: var(--primary);
  margin: 0.5rem 0;
}

h2 {
  color: var(--primary);
  margin: 0.5rem 0;
}

h3 {
  color: var(--text);
  margin: 0.5rem 0;
}

h4 {
  color: var(--text);
  margin: 0.5rem 0;
}

h5 {
  color: var(--text);
  margin: 0.5rem 0;
}

h6 {
  color: var(--text);
  margin: 0.5rem 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 1px;
  max-width: 100%;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.col-xs-1 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 8.33333% !important;
          flex: 0 0 8.33333% !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: auto;
}

.offset-xs-1 {
  margin-left: 8.33333%;
}

.col-xs-2 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 16.66667% !important;
          flex: 0 0 16.66667% !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: auto;
}

.offset-xs-2 {
  margin-left: 16.66667%;
}

.col-xs-3 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 25% !important;
          flex: 0 0 25% !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: auto;
}

.offset-xs-3 {
  margin-left: 25%;
}

.col-xs-4 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 33.33333% !important;
          flex: 0 0 33.33333% !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: auto;
}

.offset-xs-4 {
  margin-left: 33.33333%;
}

.col-xs-5 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 41.66667% !important;
          flex: 0 0 41.66667% !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: auto;
}

.offset-xs-5 {
  margin-left: 41.66667%;
}

.col-xs-6 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 50% !important;
          flex: 0 0 50% !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: auto;
}

.offset-xs-6 {
  margin-left: 50%;
}

.col-xs-7 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 58.33333% !important;
          flex: 0 0 58.33333% !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: auto;
}

.offset-xs-7 {
  margin-left: 58.33333%;
}

.col-xs-8 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 66.66667% !important;
          flex: 0 0 66.66667% !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: auto;
}

.offset-xs-8 {
  margin-left: 66.66667%;
}

.col-xs-9 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 75% !important;
          flex: 0 0 75% !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: auto;
}

.offset-xs-9 {
  margin-left: 75%;
}

.col-xs-10 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 83.33333% !important;
          flex: 0 0 83.33333% !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: auto;
}

.offset-xs-10 {
  margin-left: 83.33333%;
}

.col-xs-11 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 91.66667% !important;
          flex: 0 0 91.66667% !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: auto;
}

.offset-xs-11 {
  margin-left: 91.66667%;
}

.col-xs-12 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 100% !important;
          flex: 0 0 100% !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: auto;
}

.start-xs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.center-xs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.end-xs {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-xs {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.middle-xs {
  -ms-flex-line-pack: center;
      align-content: center;
}

.bottom-xs {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.space-xs {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.hide-xs {
  display: none;
}

.show-xs {
  display: block;
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 8.33333% !important;
            flex: 0 0 8.33333% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 16.66667% !important;
            flex: 0 0 16.66667% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 25% !important;
            flex: 0 0 25% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 33.33333% !important;
            flex: 0 0 33.33333% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 41.66667% !important;
            flex: 0 0 41.66667% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 58.33333% !important;
            flex: 0 0 58.33333% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 66.66667% !important;
            flex: 0 0 66.66667% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 75% !important;
            flex: 0 0 75% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 83.33333% !important;
            flex: 0 0 83.33333% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 91.66667% !important;
            flex: 0 0 91.66667% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .start-sm {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .center-sm {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .end-sm {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .top-sm {
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .middle-sm {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .bottom-sm {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .around-sm {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .space-sm {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .hide-sm {
    display: none;
  }
  .show-sm {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 8.33333% !important;
            flex: 0 0 8.33333% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 16.66667% !important;
            flex: 0 0 16.66667% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 25% !important;
            flex: 0 0 25% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 33.33333% !important;
            flex: 0 0 33.33333% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 41.66667% !important;
            flex: 0 0 41.66667% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .col-md-7 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 58.33333% !important;
            flex: 0 0 58.33333% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 66.66667% !important;
            flex: 0 0 66.66667% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .col-md-9 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 75% !important;
            flex: 0 0 75% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .col-md-10 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 83.33333% !important;
            flex: 0 0 83.33333% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 91.66667% !important;
            flex: 0 0 91.66667% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
  .col-md-12 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .start-md {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .center-md {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .end-md {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .top-md {
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .middle-md {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .bottom-md {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .around-md {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .space-md {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .hide-md {
    display: none;
  }
  .show-md {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 8.33333% !important;
            flex: 0 0 8.33333% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 16.66667% !important;
            flex: 0 0 16.66667% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 25% !important;
            flex: 0 0 25% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 33.33333% !important;
            flex: 0 0 33.33333% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 41.66667% !important;
            flex: 0 0 41.66667% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 58.33333% !important;
            flex: 0 0 58.33333% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 66.66667% !important;
            flex: 0 0 66.66667% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 75% !important;
            flex: 0 0 75% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 83.33333% !important;
            flex: 0 0 83.33333% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 91.66667% !important;
            flex: 0 0 91.66667% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .start-lg {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .center-lg {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .end-lg {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .top-lg {
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .middle-lg {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .bottom-lg {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .around-lg {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .space-lg {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .hide-lg {
    display: none;
  }
  .show-lg {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 8.33333% !important;
            flex: 0 0 8.33333% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 16.66667% !important;
            flex: 0 0 16.66667% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 25% !important;
            flex: 0 0 25% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 33.33333% !important;
            flex: 0 0 33.33333% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 41.66667% !important;
            flex: 0 0 41.66667% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 58.33333% !important;
            flex: 0 0 58.33333% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 66.66667% !important;
            flex: 0 0 66.66667% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 75% !important;
            flex: 0 0 75% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 83.33333% !important;
            flex: 0 0 83.33333% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 91.66667% !important;
            flex: 0 0 91.66667% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: auto;
  }
  .start-xl {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .center-xl {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .end-xl {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .top-xl {
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .middle-xl {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .bottom-xl {
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .around-xl {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .space-xl {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .hide-xl {
    display: none;
  }
  .show-xl {
    display: block;
  }
}

.hide-xs-only {
  display: none !important;
}

@media screen and (min-width: 576px) {
  .hide-xs-only {
    display: block !important;
  }
}

@media screen and (min-width: 768px) {
  .hide-xs-only {
    display: block !important;
  }
}

@media screen and (min-width: 992px) {
  .hide-xs-only {
    display: block !important;
  }
}

@media screen and (min-width: 1200px) {
  .hide-xs-only {
    display: block !important;
  }
}

.hide-sm-only {
  display: block !important;
}

@media screen and (min-width: 576px) {
  .hide-sm-only {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .hide-sm-only {
    display: block !important;
  }
}

@media screen and (min-width: 992px) {
  .hide-sm-only {
    display: block !important;
  }
}

@media screen and (min-width: 1200px) {
  .hide-sm-only {
    display: block !important;
  }
}

.hide-md-only {
  display: block !important;
}

@media screen and (min-width: 576px) {
  .hide-md-only {
    display: block !important;
  }
}

@media screen and (min-width: 768px) {
  .hide-md-only {
    display: none !important;
  }
}

@media screen and (min-width: 992px) {
  .hide-md-only {
    display: block !important;
  }
}

@media screen and (min-width: 1200px) {
  .hide-md-only {
    display: block !important;
  }
}

.hide-lg-only {
  display: block !important;
}

@media screen and (min-width: 576px) {
  .hide-lg-only {
    display: block !important;
  }
}

@media screen and (min-width: 768px) {
  .hide-lg-only {
    display: block !important;
  }
}

@media screen and (min-width: 992px) {
  .hide-lg-only {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .hide-lg-only {
    display: block !important;
  }
}

.hide-xl-only {
  display: block !important;
}

@media screen and (min-width: 576px) {
  .hide-xl-only {
    display: block !important;
  }
}

@media screen and (min-width: 768px) {
  .hide-xl-only {
    display: block !important;
  }
}

@media screen and (min-width: 992px) {
  .hide-xl-only {
    display: block !important;
  }
}

@media screen and (min-width: 1200px) {
  .hide-xl-only {
    display: none !important;
  }
}

.col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}
/*# sourceMappingURL=styles.css.map */