@import 'variables';

body{
    background-color: map-get($colors-theme, "light");
 }

@each $key, $value in $colors-theme{
    .bg-#{$key}{background-color: $value;}
    .text-#{$key}{color: $value;}
    .border-#{$key}{border-color: $value;}
}