@import 'variables';
@import '../mixins/base';

// Diferents containers by differents screens size
@each $modifier, $breakpoint in $breakpoints {
    @include container($modifier, $breakpoint);
}

.container-fluid{
    max-width: 100%;
    margin: 0 auto;
}

//Basic row container
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 1px;
    width: 100%;
}

//Create cols system
@if $enable-grid-system{
    @each $modifier, $breakpoint in $breakpoints{
        @include make-col($grid-columns, $modifier, $breakpoint);
    }
}

