

// Variables used for margin and padding
$dirs: ("top":t, "bottom":b, "left":l, "right":r);

// Font by default, the font is importet in the file theme
$font: "Nunito";


// ^^^ THEME SECTION ^^^ 

//Light Theme

// Titles, Subtitles and normal text
$light-primary:#000000;
$light-secondary:#9B1CFC;
$light-text:#000000;

//Background and diferents containers backgrounds
$light-bg-primary:#FFFFFF;
$light-bg-panel:#F1F1F1;

//Buttons, alerts, diferents cards, links, etc..
$light-sucess:#83E85A;
$light-danger:#FF2727;
$light-warming:#F9FF21;
$light-info:#21E6C1; //Links by default

$light:(
    "primary": $light-primary, 
    "secondary":$light-secondary, 
    "text":$light-text, 
    "bg":$light-bg-primary, 
    "bg-panel":$light-bg-panel, 
    "sucess":$light-sucess, 
    "danger":$light-danger, 
    "warming":$light-warming,
    "info":$light-info, 
);



// Dark Theme

// Titles, Subtitles and normal text
$dark-primary:#43DDE6;
$dark-secondary:#FC5185;
$dark-text:#FFFFFF;

//Background and diferents containers backgrounds
$dark-bg-primary:#253648;
$dark-bg-panel:#2E435A;

//Buttons, alerts, diferents cards, links, etc..
$dark-sucess:#83E85A;
$dark-danger:#FF2727;
$dark-warming:#F9FF21;
$dark-info:#21E6C1; //Links by default

$dark: (
    "primary": $dark-primary, //Headers and titles
    "secondary":$dark-secondary, //Subtitles and important text
    "text":$dark-text, //Normal text color
    "bg":$dark-bg-primary, //Bakground Color
    "bg-panel":$dark-bg-panel, //Cards color
    "sucess":$dark-sucess, //Important notifications, buttons, etc
    "danger":$dark-danger, //Dangerous notifications like errors, buttons, etc
    "warming":$dark-warming, //Warming notifications, buttons
    "info":$dark-info, // Mainly links and secondaty information
);

//Default theme
$default-theme: $dark;

//Grid System based in flexbox
$enable-grid-system: true;

$max: 10%;
$cols-number:12;

$breakpoints: (
    'xs':0,
    'sm': 576,
    'md':768,
    'lg':992,
    'xl':1200
);