
// ^^^ THEME SECTION ^^^ 

// LIGHT THEME

// Titles, Subtitles and normal text
$light-primary:#2f89fc;
$light-secondary:#9B1CFC;
$light-text:#000000;

//Background and diferents containers backgrounds
$light-bg-primary:#FFFFFF;
$light-bg-panel:#F1F1F1;

//Buttons, alerts, diferents cards, links, etc..
$light-sucess:#83E85A;
$light-danger:#FF2727;
$light-warming:#F9FF21;
$light-info:#21E6C1; //Links by default

$light:(
    "primary": $light-primary, 
    "secondary":$light-secondary, 
    "text":$light-text, 
    "bg":$light-bg-primary, 
    "bg-panel":$light-bg-panel, 
    "sucess":$light-sucess, 
    "danger":$light-danger, 
    "warming":$light-warming,
    "info":$light-info, 
);

// DARK THEME

// Titles, Subtitles and normal text
$dark-primary:#278ea5;
$dark-secondary:#FC5185;
$dark-text:#FFFFFF;

//Background and differents containers backgrounds
$dark-bg-primary:#253648;
$dark-bg-panel:#2E435A;

//Buttons, alerts, diferents cards, links, etc..
$dark-sucess:#83E85A;
$dark-danger:#FF2727;
$dark-warming:#F9FF21;
$dark-info:#21E6C1; //Links by default

$dark: (
    "primary": $dark-primary, 
    "secondary":$dark-secondary, 
    "text":$dark-text, 
    "bg":$dark-bg-primary, 
    "bg-panel":$dark-bg-panel,
    "sucess":$dark-sucess, 
    "danger":$dark-danger, 
    "warming":$dark-warming,
    "info":$dark-info, 
);

$default-theme: $dark;  // You can change between light and dark or personalizated

// ^^^ GRID SYSTEM FLEXBOX SECTION ^^^ 

$enable-grid-system: true;  //Flag to enable grid system

$grid-columns:12;   //Columns number

$xs-min-bp:0px;     //Set xs breakpoint min
$sm-min-bp:576px;   //Set sm breakpoint min
$md-min-bp:768px;   //Set md breakpoint min
$lg-min-bp:992px;   //Set lg breakpoint min
$xl-min-bp:1200px;  //Set xl breakpoint min

$breakpoints: (
    'xs':$xs-min-bp,
    'sm':$sm-min-bp,
    'md':$md-min-bp,
    'lg':$lg-min-bp,
    'xl':$xl-min-bp
);

$content-well-max-width: "none";    // Set the max-width of the content well

$xs-max-ct:100%;    //Set xs container max width
$sm-max-ct:100%;    //Set sm container max width
$md-max-ct:720px;   //Set md container max width
$lg-max-ct:960px;   //Set lg container max width
$xl-max-ct:1140px;   //Set xl container max width

$containers:(
    'xs':$xs-max-ct,
    'sm':$sm-max-ct,
    'md':$md-max-ct,
    'lg':$lg-max-ct,
    'xl':$xl-max-ct
);

// Variables used for margin and padding
$dirs: ("top":t, "bottom":b, "left":l, "right":r);

// Font by default, the font is importet in the file theme
$font: "Nunito";

//Navbars

$padding: 5;
$borders: 10;
