//  Mixin to create media queries
@mixin media-query($breakpoint){
    @if($breakpoint == 0){
             @content;
    }@else{
        @media screen and (min-width: $breakpoint){
            @content;
        }
        
    }
}

// Responsive container
@mixin container($modifier, $breakpoint) {
  @include media-query($breakpoint) {
    &.container{max-width: map-get($containers, $modifier);margin:0 auto}
  } 
}

// MAIN MIXIN! Create whole the grid system based in flexbox 
@mixin make-grid-system($grid-columns, $modifier, $breakpoint) {
  @include media-query($breakpoint){
    @for $i from 1 through $grid-columns{
      &.col-#{$modifier}-#{$i}{
        flex: 0 0 percentage($i/$grid-columns) !important; 
        box-sizing: border-box;
        min-width: auto; 
      }

      @if ($i < $grid-columns){
      &.offset-#{$modifier}-#{$i}{margin-left: percentage($i/$grid-columns);}
      }
    }

    &.start-#{$modifier}{justify-content: flex-start;}
    &.center-#{$modifier}{justify-content: center;}
    &.end-#{$modifier}{justify-content: flex-end;}
    &.top-#{$modifier}{align-content:flex-start;}
    &.middle-#{$modifier}{align-content: center;}
    &.bottom-#{$modifier}{align-content: flex-end;}
    &.around-#{$modifier}{justify-content: space-around;}
    &.space-#{$modifier}{justify-content: space-between;}
    &.reverse{flex-direction: row-reverse;}
    &.hide-#{$modifier}{display: none;}
    &.show-#{$modifier}{display: block;}
  }
}

@mixin hide-only-in($modifier, $breakpoint) {
  @each $key, $value in $breakpoints{
    @include media-query($value){
      .hide-#{$modifier}-only{
        @if($modifier == $key){
          display: none !important;
        }@else{
          display: block !important;
        }
      }
    }
  }
}