/* NAVBAR STYLES */

%navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    box-sizing: border-box;

    margin:  none;
    padding: 0 10%;

    color:var(--text);

    .nav-item,.nav-item a, .nav-button{
        font-weight: bold;
        font-size: 16px;
        color:var(--text);
        text-decoration: none;
        box-sizing: border-box;
    }

    .nav-logo{
        cursor: pointer;
    }

    .nav-items{
        list-style: none;
        padding:0;
    }

    .nav-item{
        display: inline-block;
        padding: 0 1.25rem;
    }

    .nav-item a{
        transition: all 0,3s ease 0s;
    }

    .nav-item a:hover{
        color:  var(--primary);
    }

    .nav-button{
        padding: 0.56rem 1.56rem;
        background-color: var(--primary);
        border:none;
        border-radius: 2.5rem;
        cursor: pointer;
        transition: all 0,3s ease 0s;
    }

}

.nav-between{
    @extend %navbar;

    justify-content: space-between;
}

.nav-end{
    @extend %navbar;

    justify-content: flex-end;

    .logo{
        margin-right: auto;
    }

    .nav-button{
        margin-left: 1.88rem;
    }

}

.nav-start{
    @extend %navbar;

    justify-content: flex-start;

    .logo{
        order:3;
        margin-left: auto;
    }

    .nav-button{
        margin-left: 1.88rem;
    }

}

/* Mobile navbar */

/* hamburguer button */
label.btn-ham,
label.btn-ham::before,
label.btn-ham::after{

    position: absolute;

    background-color: var(--text);
    width: 2rem;
    height: 0.2rem;

    border-radius: 40px;
    cursor: pointer;

    transition: 0.5s;
}

label.btn-ham::before{
    content: '';
    transform: translateY(-0.5rem);
    -webkit-transform: translateY(-0.5rem);
}

label.btn-ham::after{
    content: '';
    transform: translateY(0.5rem);
    -webkit-transform: translateY(0.5rem);
}

#toggle{
    display: none;
}

#toggle:checked ~ label.btn-ham::before{
    transform:rotate(45deg) translate(0px);
    -webkit-transform: rotate(45deg) translate(0px);
    transition:0.5s;
}

#toggle:checked ~ label.btn-ham::after{
    transform:rotate(-45deg) translate(0px);
    -webkit-transform: rotate(-45deg) translate(0px);
    transition:0.5s;
}

#toggle:checked ~ label.btn-ham{
    width: 0;
    transition:0.5s;
}


