@import 'variables';

.theme-button{
    order:3;
    margin-left: auto;

    position: relative;
    width: 3.75rem;
    height: 1.875rem;
    -webkit-appearance: none;
    border-radius:1.25rem;
    background: $dark-bg-primary;
    transition: ease-in 0.5s;
    cursor:pointer;
    outline: none;
    box-shadow: saturation($color: #000000);

}

input[class="theme-button"]:checked{
    background: $light-bg-primary
}

input[class="theme-button"]:before{
    content: " ";
    position: absolute;
    top:0.1875rem;
    left:0.1875rem;
    background: $light-bg-primary;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    transition: 0.5s;
}

input:checked[class="theme-button"]:before{
    background-color: $dark-bg-primary;
    transform: translateX(1.875rem);
}