@function map-fetch($map, $keys){
    @if (length($keys) <= 1) {
        $values:map-get($map,nth($keys , 1));

    }@else{
        @each $key in $keys{
            $value: map-get($map, $key);
            $values: append($list, $value);
        }

        @return $values
    }
}